name: Schema Match On Linux
on:
  workflow_call:
    inputs:
      runner:
        description: 'The type of runner to use for this job'
        type: string
        required: false
        default: 'ubuntu-latest'
      jobs_to_run:
        description: 'Controls which jobs to run. "all" runs everything.'
        type: string
        required: false
        default: 'all'

jobs:
  schema_match_linux:
    if: ${{ inputs.jobs_to_run == 'all' }}
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        app:
          - name: python-schema-match
            path: python-schema-match
            script_dir: schema_match
        config:
          - job: record_latest_replay_build
            record_src: latest
            replay_src: build
          - job: record_build_replay_latest
            record_src: build
            replay_src: latest
          - job: record_build_replay_build
            record_src: build
            replay_src: build
    name: ${{ matrix.app.name }} (${{ matrix.config.job }})
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: keploy/keploy

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: pip install flask

      - id: record
        uses: ./.github/actions/download-binary
        with:
          src: ${{ matrix.config.record_src }}

      - id: replay
        uses: ./.github/actions/download-binary
        with:
          src: ${{ matrix.config.replay_src }}

      - name: Checkout the samples-python repository
        uses: actions/checkout@v4
        with:
          repository: keploy/samples-python
          path: samples-python
          
      - name: Run Schema Match Test
        env:
          RECORD_BIN: ${{ steps.record.outputs.path }}
          REPLAY_BIN: ${{ steps.replay.outputs.path }}
        run: |
          cd samples-python/${{ matrix.app.path }}
          source $GITHUB_WORKSPACE/.github/workflows/test_workflow_scripts/python/${{ matrix.app.script_dir }}/python-linux.sh
